
<% if@mees.length != 0 %>
<% if user_signed_in?  %>
     <% if current_user.already_liked?(stock) %>
<div id="comments_area">
          <div class="option" >
     <div class="report-btn">
       <p><span>やってみたい👍　</span><%=link_to stock.likes.count, stock_likes_path(stock), method: :delete,remote: true %></p>
     </div>

     <%else%>
    <div class="option" >
     <div class="favorite-btn">
       <p> <span>やってみたい👍　</span><%=link_to stock.likes.count, stock_likes_path(stock), method: :post,remote: true %></p>
     </div>
     <%end%>
     </div>
     <% else %>
       <%= link_to "ログイン" , new_user_session_path %>　/　<%= link_to "新規登録" , new_user_registration_path %>
       <br><%= link_to "ユーザー登録" , new_user_registration_path%>をしたら「やってみたい👍」機能や<br>自分のルーティンを作成することができます。
       
     <% end %>
   </div>
   <% end %> 
   </div>