 <% if user_signed_in?  %>
 <p>γ‚„γ£γ¦γΏγγ„γƒ©γƒ³γ‚­γƒ³γ‚°π‘‘</p>
  <% @all_ranks.each.with_index(1)  do |stock ,i| %>
     <p>η¬¬<%= i %>δ½γ€€γ€€<%= "#{stock.user.name}"%>γ•γ‚“γ€€</p>
     
 <p><%= link_to stock.title,stock_path(stock)  %>γ€€π‘η·ζ•°<%= stock.likes.count %> </p>
 <%end%>
 <%else%>
 
  <p><%= link_to "γƒ­γ‚°γ‚¤γƒ³" , new_user_session_path %>
  <br>γ—γγ‚‰γƒ©γƒ³γ‚­γƒ³γ‚°γθ¦‹γ‚γΎγ™</p>
  <p>ζη™»ι²γ®ζ–Ήγ―<%= link_to "ζ–°θ¦η™»ι²" , new_user_registration_path %></p>
<br>
 <div id="side-b">
 <p>γ‚„γ£γ¦γΏγγ„γƒ©γƒ³γ‚­γƒ³γ‚°π‘‘</p>

<p>η¬¬1δ½γ€€γ€€junγ•γ‚“γ€€</p>

<p>ζζ΄»γ®ζµγ‚γ€€π‘η·ζ•°2</p>

<p>η¬¬2δ½γ€€γ€€242424γ•γ‚“γ€€</p>

<p>εεΎγ®θ­ζ›Έγ€€π‘η·ζ•°2

<p>η¬¬3δ½γ€€γ€€242424γ•γ‚“γ€€</p>

<p>εεΎγ®θ­ζ›Έ????????γ€€π‘η·ζ•°2</p>

<p>η¬¬4δ½γ€€γ€€junγ•γ‚“γ€€</p>

<p>εεΎγ®θ­ζ›Έγ€€π‘η·ζ•°2</p>
</div>
 <%end%>