<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
<br>
<h2 class="heading06" data-en="routine">最新ルーティン</h2>
<div class="notice">
  <%= notice %>
</div>
      <% @stocks.each do |stocks|%>
          <div class="inline-block_test">
            <%= stocks.user.name %>さんの投稿　
            <% if user_signed_in? && current_user.id == stocks.user_id %>
              <%= link_to '追加', stock_path(stocks.id) %><br>
              <% else %>
              <%= link_to '詳細', stock_path(stocks.id) %><br>
              <%end%>
         
              <br><span>タイトル　<%=stocks.title%></span> <br> <br>
                <% if user_signed_in? && current_user.id == stocks.user_id %>
                  <%#追加実装予定= link_to '編集' ,edit_stock_path(stocks.id),method: :get %>
                    <%#追加実装予定= link_to '削除' ,stock_path(stocks.id),method: :delete %>
                      <% end %>
                        <% stocks.mees.each do |m|%>
                          <p><%= l m.published_at %>
                            <%= m.text%></p>
                              <%end%>
           </div>
           <%end%>

