
<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet"> <br>
<div id='hideMe'><%= notice %></div>
<h2 class="heading06" data-en="routine"><span class="buruburu">ðŸŽ‰ </span>æœ€æ–°ãƒ«ãƒ¼ãƒ†ã‚£ãƒ³</h2>

<div class="search-form">
<%= form_with(url: search_stocks_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "ã‚¿ã‚¤ãƒˆãƒ«ã‚’æ¤œç´¢ã™ã‚‹", class: "search-input" %>
  <%= form.submit "æ¤œç´¢", class: "search-btn" %>
<% end %>
</div>


  <div class='column--l'>
    <%= render partial: "stock" %>
  </div>
  <div class='column--r'>
    <div id="side-a">
      <%#= éƒ¨åˆ†ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆ%>
        <%= render partial: "rank" %>
          <%#= éƒ¨åˆ†ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆ%>
    </div>
  </div>