

<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet"> <br>
<div id='hideMe'><%= notice %></div>
<h2 class="heading06" data-en="routine"><span class="buruburu">🎉 </span>最新ルーティン</h2>

<div class="search-form">
<%= form_with(url: search_stocks_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
</div>


<div class='container'>
  <div class='column--l'><%= render partial: "stock" %></div>
  <%
=begin%>
 <div class='column--r'><div id="side-a">お気に入り機能実装予定</div> 
<%
=end%>
</div>