

<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet"> <br>
<h2 class="heading06" data-en="routine">ðŸŽ‰ æœ€æ–°ãƒ«ãƒ¼ãƒ†ã‚£ãƒ³</h2>
<p>
  <%= notice %>
</p>
<div class="search-form">
<%= form_with(url: search_stocks_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "æŠ•ç¨¿ã‚’æ¤œç´¢ã™ã‚‹", class: "search-input" %>
  <%= form.submit "æ¤œç´¢", class: "search-btn" %>
<% end %>
</div>

<%= render partial: "stock" %>
<div></div>