  <%= notice %>
<div class="mate">
  <ol class="sample1">
  <% if user_signed_in? && current_user.id == @stock.user_id %>
   <% if @mees.length != 0 %>
    <h4 class="msr_h105"><span>✨</span>
      <%= @stock.title %><span>✨</span> <%= link_to "投稿完了" ,root_path ,class:"btn-t" ,data: {confirm:"トップページへ移動します"}%></h4>
<%= render partial: "edit" %>
                    <%end%>
                    <%end%>
    <% if user_signed_in? && current_user.id == @stock.user_id %>
      
        <%= render 'shared/error_messages', model: @mee %> 
        <p class="msr_h105">⚠️ルーティンを入力してください</p>
          <%= form_with model: [@stock, @mee],  method: :post,id: "comment-form" do |f| %>
            <%= f.time_select :published_at,{:minute_step => 5}%>
              <%= f.text_field :text , class: "comment-text"%>
                <%= f.submit "ルーティンを追加", class: "comment-submit" %>



                      <% end %>
                        <% end %>
  </ol>
 
  </p>
  <%= render partial: "mees/new" %>
  </div>
    <%# 要素 終わり%>
      <% if @mees.length == 0 %>
      <div class="mate">
      <h3>⚠️⚠️こちらはサンプルです</h3>
        <ol class="sample1">
          
          <li>⏰　7:00　 起床</li>
          <li>⏰　7:10　 洗顔</li>
          <li>⏰　7:20　 愛犬と散歩</li>
          <li>⏰　7:40　 朝食</li>
          <li>⏰　7:40　 Eテレを見る</li>
        </ol>
        </div>
        <% end %>

