<br>
        <div id="comments">
          <h2 class="heading06" data-en="routine"><%= notice %></h2>
          <ol class="sample1">
          <h4><span class="buruburu">✨</span><%= @stock.title %><span class="buruburu">✨</span></h4>
            <% if user_signed_in? && current_user.id == @stock.user_id %>
                <%= render partial: "edit" %>
                <%= button_to 'ルーティン削除' ,stock_path(@stock.id),method: :delete %>
              <%= render 'shared/error_messages', model: @mee %>
                <%= form_with model: [@stock, @mee],  method: :post,id: "comment-form" do |f| %>
                 
                      <%= f.time_select :published_at,{:minute_step => 5}%>
                        <%= f.text_field :text , class: "comment-text"%>
                          <%= f.submit "ルーティンを追加", class: "comment-submit" %>
                          <% if @mees.length != 0 %>
                                 <p style="text-align:right"><%= link_to "登録を完了する" ,root_path  %></p>
                                 <%else%>
                                 <span class="buruburu">⚠️ルーティンを入力してください</span>
                                 <% end %>
                          
                            <% end %>
                                <% end %>

                                </ol>
                                  <hr>
                                 
                                    <ol class="sample1">
                                    <% if @mees.length != 0 %>
                                                                    
                                      <h3><%= @stock.title %>のルーティン一覧</h3>
                                      
                                       <% @mees.each do |mees| %>
                                     
                                      <li> ⏰
                                        　<%= l mees.published_at%>
                                          　<%= mees.text%>　
                                            <% if user_signed_in? && current_user.id == @stock.user_id %>
                                              <%= link_to '編集' ,edit_stock_mee_path(@stock,mees.id),method: :get %>　
                                                <%= link_to "削除",stock_mee_path(@stock,mees.id), method: :delete %>
                                                 <% end %>
                                      </li>
                                      
                                       <% end %>
                                      
                                      <p>by　<%= @stock.user.name %> </p>
                                       <% end %>
                                    </ol>
                                
                                          
                                      <%# 要素 終わり%>
                                       
                     
 <% if @mees.length == 0 %> 
                                           <ol class="sample1">
                                           <h5>⚠️⚠️こちらはサンプルです</h5>
  <li>(例)　⏰　7:00　 起床</li>
   <li>(例)　⏰　7:10　 洗顔</li>
    <li>(例)　⏰　7:20　 愛犬と散歩</li>
    <li>(例)　⏰　7:40　 朝食</li>
    <li>(例)　⏰　7:40　 Eテレを見る</li>


</ol>
   <% end %>