<h2 class="heading06" data-en="routine">
  <%= @user.name %>сЂЋсѓЊсЂ«ТіЋуе┐СИђУдД</p>
</h2>

  <div class="inline-block_test">
  <% @user.stocks.each do |stock| %>
    <div class="inline">
      <p>
        <p>
          <%= stock.title %><%= link_to 'уиежЏє', stock_path(stock.id) %>
        </p>
        <% stock.mees.order(published_at: "ASC").each do |m|%>
          <div class="comment">
            <p class="user-info"> </p>
            <p>
              <%= l m.published_at%>
                <%= m.text%>
            </p>
         
          </div>
          
          
             <% end %>
              <%#= ТіЋуе┐сЂћсЂесЂ«сѓёсЂБсЂдсЂ┐сЂЪсЂёТї┐тЁЦС║ѕт«џ%>
             ­ЪЉЇуиЈТЋ░<%= stock.liked_users.count %>
             <%#= ТіЋуе┐сЂћсЂесЂ«сѓёсЂБсЂдсЂ┐сЂЪсЂёТї┐тЁЦС║ѕт«џ%>
    </div>
    <% end %>
  
  <h3>сѓёсЂБсЂдсЂ┐сЂЪсЂё­ЪЉЇсЂЌсЂдсЂёсѓІТіЋуе┐</h3>
<% @user.liked_stocks.each do |stock| %>

  <p><%= link_to stock.title %> сђђ­ЪЉЇуиЈТЋ░ (<%= stock.liked_users.count %>)сђђBy<%=link_to stock.user.name%></p>
 
<% end %>

  <%#= УЄфтѕєсЂ«сѓёсЂБсЂдсЂ┐сЂЪсЂёсЂЌсЂЪТіЋуе┐УАеуц║ %>
   <div class='column--r'>
 <div id="side-a">
<%#= жЃетѕєсЃєсЃ│сЃЌсЃгсЃ╝сЃѕ%>
УЄфтѕєсЂ«ТіЋуе┐сЂФт»ЙсЂЌсЂдсЂ«сђђ­ЪЉЇуиЈТЋ░сђђ<%=@likes_count%>
 <%#= жЃетѕєсЃєсЃ│сЃЌсЃгсЃ╝сЃѕ%>
 <%#=сЃдсЃ╝сѓХсЃ╝сЃЕсЃ│сѓГсЃ│сѓ░т«ЪУБЁС║ѕт«џ%>
 </div>  
</div>