
      <%#=ここにアイコン%>
      <%#=span class="user"></span>
      <%#=ここにアイコン%>
<%= @user.name %>さんの投稿一覧</p>
<%#=もし投稿がなければ%>
<%#= if @stocks.length != nil %>
<%#=もし投稿がなければ%>

  <% @user.stocks.each do |stock| %>
<div class="mate">
      <p><%= stock.title %>
      <%if user_signed_in? %>
     <% if user_signed_in? && current_user.id == stock.user_id %>
          <%= link_to '編集', stock_path(stock.id) %><br>
            <% else %>
              <%= link_to '詳細', stock_path(stock.id) %><br>
                <%end%>
          
        </p>
        <% stock.mees.order(published_at: "ASC").each do |m|%>
   
            <p class="user-info"> </p>
            <p><%= l m.published_at%><%= m.text%></p>

             <% end %>
             <%else%>
             <%=render partial: "stocks/login" , locals: { stock: stock } %>

             <% end %>
              <%#= 投稿ごとのやってみたい挿入予定%>
             <br><br>👍総数<%= stock.liked_users.count %>
             <%#= 投稿ごとのやってみたい挿入予定%>
    </div>
    <% end %>


<div id="side-d">
  <h4>最近の👍した投稿</h4>
  <%# first(n)で最初からの回数を指定する%>
  <%#=(👍の数) stock.liked_users.count %>　
<% @user.liked_stocks.first(3).each do |stock| %>

  <p><%= link_to stock.title,stock_path(stock.id) %> 
  　By<%=link_to stock.user.name,user_path(stock.user.id)%></p>
 
<% end %>
</div>
  <%#= 自分のやってみたいした投稿表示 %>
 <div id="side-a">
<%#= 部分テンプレート%>
👍総数　<%=@likes_count%>
 <%#= 部分テンプレート%>
 <%#=ユーザーランキング実装予定%>
