
      <%#=сЂЊсЂЊсЂФсѓбсѓцсѓ│сЃ│%>
      <%#=span class="user"></span>
      <%#=сЂЊсЂЊсЂФсѓбсѓцсѓ│сЃ│%>
<%= @user.name %>сЂЋсѓЊсЂ«ТіЋуе┐СИђУдД</p>
<%#=сѓѓсЂЌТіЋуе┐сЂїсЂфсЂЉсѓїсЂ░%>
<%#= if @stocks.length != nil %>
<%#=сѓѓсЂЌТіЋуе┐сЂїсЂфсЂЉсѓїсЂ░%>

  <% @user.stocks.each do |stock| %>
<div class="mate">
      <p><%= stock.title %>
      <%if user_signed_in? %>
     <% if user_signed_in? && current_user.id == stock.user_id %>
          <%= link_to 'уиежЏє', stock_path(stock.id) %><br>
            <% else %>
              <%= link_to 'УЕ│у┤░', stock_path(stock.id) %><br>
                <%end%>
          
        </p>
        <% stock.mees.order(published_at: "ASC").each do |m|%>
   
            <p class="user-info"> </p>
            <p><%= l m.published_at%><%= m.text%></p>

             <% end %>
             <%else%>
             <%=render partial: "stocks/login" , locals: { stock: stock } %>

             <% end %>
              <%#= ТіЋуе┐сЂћсЂесЂ«сѓёсЂБсЂдсЂ┐сЂЪсЂёТї┐тЁЦС║ѕт«џ%>
             <br><br>­ЪЉЇуиЈТЋ░<%= stock.liked_users.count %>
             <%#= ТіЋуе┐сЂћсЂесЂ«сѓёсЂБсЂдсЂ┐сЂЪсЂёТї┐тЁЦС║ѕт«џ%>
    </div>
    <% end %>


<div class="mate">
  <h4><%=@user.name%>сЂЋсѓЊсЂїсѓёсЂБсЂдсЂ┐сЂЪсЂё­ЪЉЇсЂЌсЂдсЂёсѓІТіЋуе┐</h4>
<% @user.liked_stocks.each do |stock| %>

  <p><%= link_to stock.title,stock_path(stock.id) %> <br>
  сђђ­ЪЉЇуиЈТЋ░ (<%= stock.liked_users.count %>)сђђBy<%=link_to stock.user.name,user_path(stock.user.id)%></p>
 
<% end %>
</div></div>
  <%#= УЄфтѕєсЂ«сѓёсЂБсЂдсЂ┐сЂЪсЂёсЂЌсЂЪТіЋуе┐УАеуц║ %>
   <div class='column--r'>
 <div id="side-a">
<%#= жЃетѕєсЃєсЃ│сЃЌсЃгсЃ╝сЃѕ%>
­ЪЉЇуиЈТЋ░сђђ<%=@likes_count%>
 <%#= жЃетѕєсЃєсЃ│сЃЌсЃгсЃ╝сЃѕ%>
 <%#=сЃдсЃ╝сѓХсЃ╝сЃЕсЃ│сѓГсЃ│сѓ░т«ЪУБЁС║ѕт«џ%>
 </div>  
