<% @stocks.each do |stocks|%>
  <ul class="example">
    <li>
   
  
          <%= stocks.user.name %>さんの投稿 　<%= link_to '詳細', stock_path(stocks.id) %><br>
         <br> 
       
              <span><%=stocks.name%></span><br><br>
            
              <% if user_signed_in? && current_user.id == stocks.user_id %>
                <%#= link_to '編集' ,edit_stock_path(stocks.id),method: :get %>
                  <%#= link_to '削除' ,stock_path(stocks.id),method: :delete %>
  
        <% end %>
           <% stocks.mees.each do |m|%>

            <%= l m.published_at %>  　<%= m.text%><br>
        
                <%end%>

    </li>
    <%end%>
  </ul>