<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Stome</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
            <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= stylesheet_link_tag 'application' %>
                    <%= javascript_pack_tag 'application' %>
                    <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="flexbox">
        <div class="list">
            <!-- カラム 1 ここから -->
       <nav>
    <header class="header">
        <!-- ヘッダー内容 -->
        <h1>
            <%= link_to "StoMe💡", root_path %>
        </h1>
    </header>
    <ul class="btn-a">
    <%#=                                         <div class="line-it-button" data-lang="ja" data-type="like" data-env="REAL" data-url="https://developers.line.biz/ja/docs/line-social-plugins/install-guide/using-like-buttons/#create-button"  style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
         <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>
        <% if user_signed_in? %>
                     <li>
            <%= link_to root_path, class:"btn" do%> <em class="fa-solid fa-house"></em> <span class="iconname">　ホーム</span>
                <%end%>
        </li>
 
            <li>
                <%= link_to  user_path(current_user),class:"btn" do%><em class="fa-solid fa-user"></em><span class="iconname">　マイページ</span>
                    <% end %>
            </li>
            <li>
                <%= link_to  destroy_user_session_path,class:"btn" ,data: {confirm:"ログアウトしますか？"} do%><em class="fa-solid fa-right-from-bracket"></em><span class="iconname">　ログアウト</span>
                    <% end %>
            </li>
            
            <li>
                <%= link_to new_stock_path,class:"btn",id: "submit" do%><em class="fa-solid fa-pen"></em><span class="iconname">　作成する</span>
                    <%end%>
            </li>
                        <% else%>
  <li><%= link_to new_user_session_path ,class:"btn" do %>
                                    <em class="fa-solid fa-person-walking-arrow-right"></em><span class="iconname">　ログイン</span>

                                       <% end %>
                                        </li> 
                                        <li>
                                    <%= link_to new_user_registration_path ,class:"btn" do %>
                                    <em class="fa-solid fa-right-from-bracket"></em><span class="iconname">　新規登録</span>
                                       <% end %> 
                                       </li> 
                            <% end %>
    </ul>
</nav>
            <!-- カラム 1 ここまで -->
        </div>
        <article class="main">
            <!-- カラム 2 ここから -->
            <%= yield %>
                <!-- カラム 2 ここまで -->
        </article>
        <div class="side">
            <!-- カラム 3 ここから -->
            <%#=検索窓%>
                <div class="search-form">
                    <%= form_with(url: search_stocks_path, local: true, method: :get, class: "search-form") do |form| %>
                        <%= form.text_field :keyword, placeholder: " 検索する", class: "search-input" %>
                            <%= form.submit "検索", class: "search-btn" %>
                                <% end %>
                </div>
                <%#=検索窓%>
                    <!-- カラム 3 ここまで -->
        </div>
    </div>
    <!-- スマホ表示-->

    <% if user_signed_in? %>
    <ul class="menu">
        <li>
            <%= link_to root_path do%> <em class="fa-solid fa-house"></em> <span class="iconname">ホーム</span>
                <%end%>
        </li>
        <li>
            <%= link_to new_stock_path,id: "submit" do%> <em class="fa-solid fa-pen"></em><br> <span class="iconname">作成する</span>
                <%end%>
        </li>
        <li>
            <%= link_to  user_path(current_user) do%> <em class="fa-solid fa-user"></em> <span class="iconname">マイページ</span>
                <% end %>
        </li>
        <li>
            <%= link_to  search_stocks_path do%> 
            <em class="fa-solid fa-magnifying-glass"></em> <span class="iconname">探す</span>
                <% end %>
        </li>
        <li>
            <%= link_to  destroy_user_session_path, data: {confirm:"ログアウトしますか？"} do%> <em class="fa-solid fa-right-from-bracket"></em><span class="iconname">ログアウト</span>
                <% end %>
        </li>
   </ul>
    <%else%> <ul class="menu">
          <li>
            <%= link_to root_path do%> <em class="fa-solid fa-house"></em> <span class="iconname">ホーム</span>
                <%end%>
        </li>
                                     <li><%= link_to new_user_session_path do %>
                                    <em class="fa-solid fa-person-walking-arrow-right"></em><span class="iconname">ログイン</span>

                                       <% end %>
                                        </li> 
                                        <li>
                                    <%= link_to new_user_registration_path do %>
                                    <em class="fa-solid fa-right-from-bracket"></em><span class="iconname">新規登録</span>
                                       <% end %> 
                                       </li> 
                                              <li>
            <%= link_to  search_stocks_path do%> 
            <em class="fa-solid fa-magnifying-glass"></em> <span class="iconname">探す</span>
                <% end %>
        </li>
                                       </ul>
    <% end %>
    <!-- スマホ表示-->
    <!-- タブレット-->
    
    <!-- タブレット-->
</body>
</html>