<!DOCTYPE html>
<html>
<head>
  <title>Stome</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
      <%
=begin%>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
          <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
              <%= stylesheet_link_tag 'application', media: 'all'  %>
              <%= javascript_pack_tag 'application' %>
</head>

<body>
    <div class="logo">
      <h1>
        <%= link_to "StoMee", root_path,class:"userList" %>
      </h1>
    </div>
    <div class="list-menu">
       
      <ul class="list">
        <% if user_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-outline-warning" ,:method => :delete %>
          <%= link_to "作成する", new_stock_path, class: "btn btn-outline-warning" %>
        </li>
        <% else%>
          <li>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-warning" %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-warning" %>
            
          </li>
          <% end %>
      </ul>
    </div>
    <%= yield %>
      <%
=begin%>
 <footer>
        <p>@StoMee</p>
      </footer> 
<%
=end%>
</body>
</html>