<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Stome</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= stylesheet_link_tag 'application' %>
   <%= javascript_pack_tag 'application' %>
</head>

<body>
<div class="flexbox">
  <section class="list">
      <!-- ã‚«ãƒ©ãƒ  1 ã“ã“ã‹ã‚‰ -->
      <h1><%= link_to "StoMeðŸ’¡", root_path %></h1>
    <nav>

        <ul>
            <% if user_signed_in? %>
                <li>
                    <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", user_path(current_user), class: "btn btn-outline-info" %>
                        <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, class: "btn btn-outline-info" ,method: :get, data: {confirm:"ãƒ­ã‚°ã‚¢ã‚¦ãƒˆã—ã¾ã™ã‹ï¼Ÿ"} %>
                            <%= link_to "ä½œæˆã™ã‚‹", new_stock_path, class: "btn btn-outline-info" ,id: "submit"%>
                </li>
                <% else%>
                    <li>
                        <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "btn btn-outline-info" %>
                            <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: "btn btn-outline-info" %>
                    </li>
                    <% end %>
        </ul>
    </nav>
      <!-- ã‚«ãƒ©ãƒ  1 ã“ã“ã¾ã§ -->
  </section>
  <article class="main">
      <!-- ã‚«ãƒ©ãƒ  2 ã“ã“ã‹ã‚‰ -->
<%= yield %>
      <!-- ã‚«ãƒ©ãƒ  2 ã“ã“ã¾ã§ -->
  </article>
  <section class="side">
      <!-- ã‚«ãƒ©ãƒ  3 ã“ã“ã‹ã‚‰ -->
         <%#=æ¤œç´¢çª“%>
    <div class="search-form">
        <%= form_with(url: search_stocks_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "ã‚¿ã‚¤ãƒˆãƒ«ã‚’æ¤œç´¢ã™ã‚‹", class: "search-input" %>
                <%= form.submit "æ¤œç´¢", class: "search-btn" %>
                    <% end %>
    </div>
    <%#=æ¤œç´¢çª“%>
        <div id="side-a">
      <%#= éƒ¨åˆ†ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆ%>
        <%#= render partial: "rank" %>
          <%#= éƒ¨åˆ†ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆ%>
    </div>
      <!-- ã‚«ãƒ©ãƒ  3 ã“ã“ã¾ã§ -->
  </section>
</div>
</body>
</html>